body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

.iphone-container {
    background: url('iphon12007.png') no-repeat center;
    width: 1440px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 363px;
    height: 538px;
    position: relative;
    top: 167px;
    left: 557px;
    background: transparent;
}

.homescreen {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.app-row {
    display: flex;
    justify-content: space-between;
}

.app {
    font-size: 40px;
    transition: all 0.2s ease-in-out;
}

.app:hover {
    box-shadow: 0 2px 5px black;
}

.app:active {
    transform: scale(0.9);
    opacity: 0.7;
}

.taskbar {
    background: linear-gradient(to bottom, #eee, #fff);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.taskbar .app {
    font-size: 45px;
    text-align: center;
}

.taskbar .app span {
    display: block;
    font-size: 12px;
}

.folder-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.folder-content {
    background-color: white;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation: scaleIn 0.3s ease-in-out;
}

@keyframes scaleIn {
    0% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}

.hidden {
    display: none;
}
